@page "/Setup/Customers"
@inherits DataComponent

<h3>Customers</h3>

<RadzenDataList Data="customers" WrapItems="true">
	<Template>
		<div @onclick="() => { customer = context; }">
			<span class="fw-bold">@context.Name</span><br />
			<a href="mailto:@context.Email">@context.Email</a> | @context.PhoneNumber<br />
			@context.MailingAddress<br />
			@context.City, @context.State @context.PostalCode
		</div>		
	</Template>
</RadzenDataList>

<RadzenTemplateForm Data="customer" Submit="SaveCustomer" TItem="Customer">
	<RadzenTextBox @bind-Value="customer.Name" Placeholder="name" class="w-100" />

	<ContactInfo Data="customer" />

	<RadzenNumeric @bind-Value="customer.HourlyRate" Placeholder="hourly rate" />

	<RadzenButton ButtonType="ButtonType.Submit" Text="Save" Icon="save" />
</RadzenTemplateForm>

@code {
	private IEnumerable<Customer> customers = [];
	private Customer customer = new();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await Refresh();
	}

	private async Task Refresh()
	{
		customers = await Data.QueryAsync(new MyCustomers());
	}

	private async Task SaveCustomer()
	{
		await Data.Customers.SaveAsync(customer);
		customer = new();
		await Refresh();		
	}
}
